.venv/
geolocation-prediction/test_images_sampled/
geolocation-prediction/original_training_dataset/
geolocation-prediction/extra_training_dataset/
geolocation-prediction/extracted_features_dinov2_large.pt
geolocation-prediction/test_extracted_features_dinov2_large.pt